<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  th:fragment="cards">
<div class="card">
    <div class="card-image">
        <figure class="image ">
            <img
                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                    alt="Placeholder image"
            />
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img
                            src="https://bulma.io/assets/images/placeholders/96x96.png"
                            alt="Placeholder image"
                    />
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">João da Silva</p>
                <p class="subtitle is-6">joao.silva@exemplo.com</p>
            </div>
        </div>

        <div class="content">
            Período do Extrato: Data de início e fim (ex: 01 Nov 2025 a 30 Nov 2025).
            Saldo Inicial: O valor disponível no início do período.
            Histórico de Transações: Uma lista detalhada de todas as entradas (créditos/depósitos) e saídas (débitos/pagamentos/transferências).
            Detalhes da Transação: Data, descrição (ex: Pagamento de serviços, Transferência recebida), valor e o saldo após cada movimento.
            Saldo Final: O valor total no final do período
            . <a>@bulmaio</a>. <a href="#">#css</a>
            <a href="#">#responsive</a>
            <br/>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</div>
</body>
</html>