<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Kwanza Zap</title>
</head>
<body>



<nav th:replace="~{navbar :: navbar}"></nav>
<div class="columns is-multiline  is-centered">
    <div class="column is-two-thirds ">
        <section class="hero  is-light">
            <br>
            <br>
            <div class="hero-body " align="center" >
                <img th:src="@{/images/logo.jpeg}" width="220" >
                <p class="title"> Fintech - Kwanza zap  <p/>
                <p class="subtitle">
                    Seja bem-vindo(a)! Na Kwanza Zap, você encontra as melhores soluções financeiras.  Confere as nossas ofertas especiais de boas-vindas!
                </p>
            </div>
        </section>
    </div>
</div>

<div align="center">
    <div class="columns is-multiline is-centered"  >
        <div class="column is-2" th:each="conta : ${contas}">

            <div class="card" >

                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img
                                        src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Blank&hairColor=Black&facialHairType=
                                        Blank&clotheType=Overall&clotheColor=Pink&eyeType=Happy&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=DarkBrown/96x96.png"
                                        alt="Placeholder image"
                                />
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="AdjustMov">
                                <p> Nome   do Titular : </p>
                                <p th:text="${conta.nome_do_titular}"></p>
                            </div>
                            <div class="AdjustMov">
                                <p > ID : </p>
                                <p  th:text="${conta.id}"></p>
                            </div>
                            <div  class="AdjustMov">
                            <p > Numero de Conta : </p>
                            <p  th:text="${conta.numero_de_conta}"></p>
                            </div>
                            <div class="AdjustMov">
                            <p> Balanço : </p>
                            <p th:text="${conta.balanco}" style="color:green"></p> KZ
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <div class="AdjustMov">
                            <p> Pin :  </p>
                            <p th:text="${conta.pin}"></p>

                        </div>
                        <div class="AdjustMov">
                            <p> Movimentos: </p>
                            <p th:text="${conta.movimentos}"></p>
                        </div>

                        <div class="AdjustMov">
                            <p> Serviços : </p>
                            <p  th:text="${conta.servicos}"></p>
                        </div>

                    </div>
                    <footer class="card-footer">
                        <a th:href="@{/levantamento/{id} (id=${conta.id})}" class="card-footer-item">Levantamento</a>
                        <a th:href="@{/deposito/{id} (id=${conta.id})}"  class="card-footer-item">Deposito</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>