<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Kwanza Zap</title>
</head>
<body>



    <nav th:replace="~{navbar :: navbar}"></nav>
    <table>
        <tr th:each="conta: ${contas}">
            <td> teste</td>
            <td th:text="${conta.id}"></td>
            <td th:text="${conta.numero_de_conta}"></td>
            <td th:text="${conta.saldo}"></td>
            <td th:text="${conta.nome_do_titular}"></td>
            <td th:text="${conta.iban}"></td>
            <td th:text="${conta.pin}"></td>
            <td th:text="${conta.movimentos}"></td>
            <td th:text="${conta.servicos}"></td>
        </tr>
    </table>
    <div class="columns  is-centered">
        <div class="column is-two-thirds ">
            <section class="hero  is-danger">
                <br>
                <br>
                <div class="hero-body">
                    <p class="title"> Fintech - Kwanza zap</p>
                    <p class="subtitle">Seja bem-vindo(a)! Na Kwanza Zap, você encontra as melhores soluções financeiras. Confere as nossas ofertas especiais de boas-vindas!</p>
                </div>
            </section>
        </div>

    </div>
    <br>
    <br>
    <h1 th:text="${contas}"> </h1>

</body>
</html>