<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">


</head>
<body align="center">
<nav th:replace="~{navbar :: navbar}"></nav>

<div class="columns is-centered">
    <div class="column is-half">
        <section class="hero ">
            <div class="hero-body">
                <p class="title">Levantantamento</p>
                <div align="center">
                    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js" type="module"></script>
                    <dotlottie-wc src="https://lottie.host/0a5765c9-bd17-4ea5-8a02-b558ff95661b/crW5AwuhR4.lottie" style="width: 300px;height: 300px" autoplay loop></dotlottie-wc>
                </div>
                <p class="subtitle">Insira o valor que quer depositar</p>
                <p  class="subtitle">Balanço Atual :</p>
                <form th:action="@{/levantamento/{id}(id=${conta1.id})}" th:object="${conta1}" method="post" >
                    <label for="balanco"></label>
                    <input  class="input is-dark is-large" type="text" th:value="${conta1.balanco}" id="balanco" readonly>

                </form>

                <form action="/contas/{id}/leavantamentoform"  th:object="${conta1}" method="post">
                    <input  class="input is-dark is-large"  id="id" th:value="${conta1.id}"  name="id" placeholder="id do cliente"   type="hidden">
                    <hr>
                    <label class="label" for="valor">Valor:</label>
                    <input  class="input is-dark is-large"  type="text" id="valor" name="valor" placeholder="Kwanzas" >
                    <hr>
                    <input  class="button is-dark is-large is-fullwidth" type="submit" value="Publicar">
                </form>
                <a th:href="@{/}"  class="button is-large is-fullwidth">Voltar</a>
            </div>
        </section>
    </div>
</div>
</body>
</html>