
<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Movimentos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body >
<nav th:replace="~{navbar :: navbar}"></nav>
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">Movimentos</p>
        <p class="subtitle">Visualizar movimentos do cliente</p>
    </div>
</section>
<br>
<div class="container ">
    <table class="table" style="margin-left: auto;margin-right: auto;" >
            <th>ID</th>
            <th>Data</th>
            <th>Movimento</th>
            <th>Balanço</th>
            <th>Tipo</th>
        <tr th:each="movimentoh: ${movimentos}">
        <td th:text="${movimentoh.id}"></td>
            <td th:text="${movimentoh.data}"></td>
            <td th:text="${movimentoh.movimento}"></td>
            <td th:text="${movimentoh.balanco}"></td>
            <td th:text="${movimentoh.tipo}"></td>
        </tr>
    </table>
    <a th:href="@{/}"  class="button is-large is-fullwidth">Voltar</a>
</div>
</body>
</html>