
<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Movimentos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body >
<nav th:replace="~{navbar :: navbar}"></nav>
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">Movimentos</p>
        <p class="subtitle">Visualizar movimentos do cliente</p>
    </div>
</section>
<br>
<div class="container ">
    <tbody>
    <tr th:each="prod: ${movimento1}">
        <td th:text="${prod.id}"></td>
        <td th:text="${prod.data}"></td>
        <td th:text="${prod.balanco}"></td>
        <td th:text="${prod.tipo}"></td>
        <td th:text="${prod.tipo}"></td>



    </tr>
    </tbody>

    <form th:action="@{/movimento/{id}(id=${movimento1.id})}" th:object="${movimento1}" method="post" >
        <label for="balanco"></label>
        <input  class="input is-dark is-large" type="text" th:value="${movimento1.id}" id="balanco" readonly>

    </form>



    <table class="table is-center" style="  margin-left: auto; margin-right: auto;">
        <thead>
        <tr>
            <th>Balanco</th>
            <th>Data</th>
            <th>Conta_ID</th>
        </tr>
        </thead>
        <tr>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
    </table>
    <a th:href="@{/}"  class="button is-large is-fullwidth">Voltar</a>
</div>
</body>
</html>