<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="navbar">
<nav class="navbar " role="navigation" aria-label="main navigation" >
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">

        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a   th:href="@{/}" class="navbar-item">
                Kwanza Zap
            </a>
            <a    th:href="@{/tranferencia}" class="navbar-item">
                Transferencia
            </a>
            <hr class="navbar-divider">
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-warning is-outlined is-large">
                    <strong>Sign Up</strong>
                </a>
                <a class="button is-info is-outlined is-large">
                    Login
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>

</body>
</html>